# ========================
# .gitignore - Projeto Mixer de Áudio
# ========================

# Arquivos de Sistema Operacional
.DS_Store
Thumbs.db
*~

# Frontend 
node_modules/
dist/
.angular/
.npm/
coverage/
*.log

# Python 
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Go 
/bin/
*.exe
*.test
*.out

# Arquivos de Áudio (Testes e Gravações locais)
*.wav
*.mp3
*.raw
*.pcm
/recordings/

# IDEs
.vscode/
.idea/